/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base Styles -------------------- */

* {
  box-sizing: border-box;
/*	border:1px red solid;*/
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:	url('../img/black.jpg') repeat center;
  background-size: 300%;
	letter-spacing:.08em;
}

h1 {
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
  line-height: 1.3;
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul {
	margin:0;
	padding:0;
	list-style:none;
}

li {
	margin:0;
	padding:10px;
	font-size:1.2em;
	list-style:none;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgba(174, 232, 226, 0.9);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

.main-nav {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

.main-nav div,
.main-nav ul{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin:0;
	text-align:center;
}

.main-nav h1{
	font-size:2em;
	font-family: 'Allura', cursive;
	padding:10px;
}

svg{
  display: none;
}

.bottom{
	display: none;
}

.main-nav ul{
	font-weight: 200;
	color: rgb(211, 208, 208);
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  padding-bottom: 10px;
}

.main-header h1{
	font-size:3em;
	text-shadow: 0 2px 2px rgba(0,0,0,.9);
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;
}


h3{
	font-weight: 200;
	margin-bottom:10px;
	margin-top:10px;
	color:#fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.9);
  /*background-color:rgba(0,0,0,.5);*/
	letter-spacing:.1em;
  text-align:center;
}

.audits li{
	display:inline-block;
	border-radius:100%;
	background-color:rgba(0,0,0,.5);
	padding:40px;
	font-size:1em;
	margin:10px;
	font-weight:200;
	width:7em;
  text-align: right;
}

.primary-content ul{
	padding:0;

}

.audits{
  background: url('../img/audit.jpeg') no-repeat center;
  background-size: cover;
	margin:0;
	margin-top:30px;
  padding: 18% 10%;
	box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
	color:white;
}

.audits ul {
	padding-bottom:20px;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	font-weight: 200;
	margin:0 auto;
	padding:0;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.consulting {
  color: white;
  text-align: left;
  padding: 18% 10%;
  background: #434a52 url('../img/consulting.jpeg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
	margin-top:5em;

}

.consulting li {
	border-bottom:1px solid grey;
	padding-bottom:0;
	padding-top:40px;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
	font-weight:300;
  background:rgba(0,0,0,.5);
}

.audits h2,
.consulting h2,
.background h2{
  background:rgba(0,0,0,.5);
  padding:10px;
}


.primary-content h2{
	font-size:1.5em;
	font-weight: 200;
	color:#fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
}

.background {
	min-height:300px;
	background: #434a52 url('../img/experience.jpeg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
	padding: 18% 10%;
	text-shadow: 2px 3px 3px rgba(0,0,0,.9);
	text-align:left;
	margin-top:5em;
}

.superscript {
  font-size:2em;
  color:rgba(146, 209, 196, 0.97);
}



.background ul {
	color:white;
	font-size:1.1em;
  background:rgba(0,0,0,.5);
  padding:10px;
}

.background li {
  padding-left:20px;
}


.arrow {
  width: 50px;
  margin-top: 150px;
}

.contacts {
  list-style: none;
  padding: 30px 10px 10px;
  margin: 0 auto;
  font-size: 0.9em;
	text-align:left;
	background-color:rgba(255, 255, 255, 0.6);
	margin-top:5em;
}

.contact-info a {
display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png')
}


.contact-info li.mail a {
  background-image: url('../img/mail.png')
}

.contact-info li.geo a{
  background-image: url('../img/geo.png')
}

.contact-info li.linkedin a{
  background-image: url('../img/linkedin.png')
}

.geo a {
  min-height: 20px;
  background-size: 20px 30px;
/*	margin-left:1px;*/
	background-position:5px 0px;
}

.linkedin a {
  min-height: 30px;
  background-size: 30px 30px;
	/*margin-top:1em;*/
	background-position:50% 0%;
  margin: 0 auto;
}

.linkedin {
  margin: 0 5em;
}


.contacts h3,
.contacts a{
	color:black;
  font-size: 1.5em;
}

.contacts a{
	font-size:1.1em;
	font-weight:400;
}

/* Floated Columns ------------------ */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

footer h3 {
	color:white;
	font-size:.9em;
}

footer a {
	font-size:.9em;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries -------------------- */


@media (min-width: 768px) {

  body {
    background-size: 100%;
  }

  .main-nav {
  	display:flex;
  	flex-direction: column;
  	justify-content: center;
  }

  .main-nav div,
  .main-nav ul{
  	display:flex;
  	flex-direction: row;
  	justify-content: center;
  	margin:0;
  	text-align:center;
  }



  .main-nav h1{
  	font-size:2em;
  	font-family: 'Allura', cursive;
  	padding:10px;
    margin: 0;
  }

  .main-nav h3{
    padding:10px 10px 0 10px;
    margin: 0;
  }

  .top{
  	display: none;
  }

  .bottom{
    display: block;
  }

  .primary-content,
  .secondary-content {
    width: 100%;
    border-top: none;
  }


  .audits{
  	margin:0;
    padding: 10% 12%;
  }

  .title {
    font-size: 1.3rem;
    border: none;
  }
  h1 {
    font-size: 5rem;
    line-height: 1.1;
  }
  .arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  .main-footer {
    padding: 20px 0;
  }
}


@media (min-width: 1024px) {
  body {
    background-size: 100%;
    background-position: 0 1px;
  }

  .main-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0;
  }

  .main-nav h1{
  	display: none;
  }

  svg{
    display: block;
    padding: 10px 0;
  }

  @keyframes raise {
  	0% {
      -ms-transform: translate(-50%, -50%) scale(0);
      -webkit-transform: translate(-50%, -50%) scale(0);
  		transform: translate(-50%, -50%) scale(0);
  	}


  	60% {
  		-ms-transform: translate(0%, -10%) scale(1);
      -webkit-transform: translate(0%, -10%) scale(1);
      transform: translate(0%, -10%) scale(1);
  	}

  	80% {
  		-ms-transform: translate(0%, 10%) scale(1);
      -webkit-transform: translate(0%, 10%) scale(1);
      transform: translate(0%, 10%) scale(1);
  	}

  	100% {
  		-ms-transform: translate(0) scale(1);
      -webkit-transform: translate(0) scale(1);
      transform: translate(0) scale(1);
  	}

  }

  @keyframes turn {
  	0% {
  		-ms-transform: rotate(0) scale(1);
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
  	}

  	60% {
      -ms-transform: rotate(-1deg) scale(1.2);
      -webkit-transform: rotate(-1deg) scale(1.2);
  		transform: rotate(-1deg) scale(1.2);
  		/*fill:rgba(247, 240, 36, 1);*/
  		opacity:1;
  	}

  	100% {
  		-ms-transform: rotate(0) scale(1);
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
  	}

  }

  @keyframes offset {
    70% {
      stroke-dashoffset:10;
      stroke-opacity:.8;
    }
  	50% {
  		stroke-opacity:.5;
  	}
    0% {
      stroke-opacity:.8;
    }
  }
/* --------------------------
  SVG Styles
--------------------------- */

svg * {
	-ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

}


.e-letter{
	/*stroke:#C0C0C0;
	stroke-width:4;
	stroke-dasharray:145;
	stroke-dashoffset:145;*/

	/*animation: offset 1s .7s linear forwards;*/
  animation: raise .5s .5s ease-out backwards, turn .5s .7s ease-out forwards;

}
	/*animation: turn .9s .7s ease-out forwards;*/



  .main-header h3 {
    margin-top: 30px;
  }


  .primary-content,
  .secondary-content {
    width: 90%;
  }

  .audits {
    margin: 5em 0 7em;
  }

  .audits ul {
    margin-top: 4em;
  }

  .consulting {
    padding: 10% 12%;
    margin: 7em 0;
  }

  .background {
    margin: 7em 0;
  }

  .contacts {
    margin: 7em 0 0;
  }
}
